

body{
    background-color: #000000;
    color: 	#FFFFFF;
    font-family: "Courier New";
    margin: 0;
    padding: 0;
  }
  
  .jump{
    background-color:#FFFFFF;
  }


  .jump a:focus {
      background:#FFFFFF;
      left: 0;
      top:0;
      padding: 7px;
      position: absolute; 
    
  }


header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
    background-color: #000000;
    
}



.nav_container li {
    display: inline-block;
    padding: 0px 20px; 
  }

  .nav_container li a{
    color: 	#FFFFFF;
    text-decoration: none;


  }

  .current_page{
    color: #27F2F2;  
    font-weight: bold;

  }



  .nav_container li a:hover{
    color: #27F2F2;  

  }

.div{
    display: block;



}

.main_content{
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    background-color: #000000; 
 
}

.main_content h1{
    text-align: center;
}



.row_gallery{
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0px 10px;

  
}


.column_gallery{
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column_gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


.intro{

    width: 100%;
    padding: 2% 
}

.intro p{

    padding-right: 20%;

}





.title{
    text-align: center;

}




.film_grid, .music_grid {
display: grid;
grid-template-columns: auto auto auto; 
grid-template-rows: repeat(16); 
grid-gap: 16px;
padding-top: 30px;




}


.title_film{
    grid-column: 1/3; 
    grid-row: 1/1;
      
}

.film_grid_image, .music_grid_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.film_grid_item_1, .music_grid_item_1 {
    grid-column: 1/3; 
    grid-row: 2/4; 
}


.film_grid_item_2, .music_grid_item_2{
    grid-column: 1/3; 
    grid-row: 5/7; 
}

.film_grid_item_3, .music_grid_item_3{
    grid-column: 1/3; 
    grid-row: 8/10;

}

.film_grid_item_4, .music_grid_item_4{
    grid-column: 1/3; 
    grid-row: 11/13;

}

.film_grid_item_5, .music_grid_item_5{
    grid-column: 1/3; 
    grid-row: 13/15;

}



.title_music{
    grid-column: 1/3; 
    grid-row: 1/2;
      
}



.contact_title{
    display: block;
    background-color:#000000; 
    position: relative;
    padding-right: 50%;

}

.contact_title h1 {
    padding-left: 50%;

}
form{
    display: inline-block;
    position: relative; 

}

.contact_form{
    padding-top: 15%; 
    padding-left: 50%;

}

  
footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  color: white;
  background:black;
  text-align:left;
  height:20px      



  }


  /* Got the below code from the Parallax module of w3school.com . Have slightlly modified it --> https://www.w3schools.com/howto/howto_css_parallax.asp*/ 
  .about_bg{
    background-image: url("../images/vaporwave_wallpaper.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


    


.about_content{
    display: block;
     background-color:#000000; 
     position: relative;
     right: 0px; 
     width: 80%;
     text-align: center;


 
}


  /* Got the below code for flipcard from Shay Howe's Code Pen  . Have slightlly modified it --> https://codepen.io/shayhowe/pen/Fvjnf */ 

.card_container {
    height: 300px;
    perspective: 800;
    position: relative;
    left: 600px; 
    bottom: 100px; 
    width: 300px; 
  }

  .flip_card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }
  .flip_card:hover {
    transform: rotateY(180deg);
  }
  .flip_card .front_flip_card{
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  .flip_card .outer_flip_card {
    background: #fff;
    color: #111;
    height: 300px;
    text-align: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  
  .about_title{
    display: block;
    background-color: #000000;
    padding-left: 25%; 
    padding-top: 150px;
    font-size: 30px;
  }
    
  .about_title h1{
    display: block;
    position: relative;
    right: 70px;
    background-color: #000000;
    padding-left: 25%; 
  }

    .contact_form{
        right: 40px
    
    }
    

 }
  
 @media (min-width: 600px) and (max-width: 800px)
 /* for iPad screens */
 
 {
     .main_content{
         padding-left: 45px;

     }
  
        .about_title{
        padding-left: 50%; 
        padding-top: 150px;
        }
    
         
        .about_content{
            padding-left: 20%; 
            padding-bottom: 200px;

        }

        
    

}
  
  @media all and (min-width: 800px)
   /* for desktop screens */
  {


    header{
       font-size: 25px;
        
    }


    .contact_title{
        display: block;
        background-color:#000000; 
        padding-left: 45%;
  font-size: 30px; 
    }

  .title{
      font-size: 30px; 
  }


    }



    .film_grid{
        display: grid; 
        grid-template-columns: auto auto auto auto auto ; 
        grid-template-rows: repeat(12); 
    
        

    }

    .title_film{
        grid-column: 3/4; 
        grid-row: 1/1; 
        font-size: 30px;
        

}


    .film_grid_image{
        width: 50%;
        height: 50%;
        object-fit: cover;
    }



    .film_grid_item_1{
        grid-column: 3/4; 
        grid-row: 2/3; 
    }
    
    
    .film_grid_item_2{
        grid-column: 3/4; 
        grid-row: 4/5; 
    }
    
    .film_grid_item_3{
        grid-column: 3/4; 
        grid-row: 6/7;
    
    }
    
    .film_grid_item_4{
        grid-column: 3/4; 
        grid-row: 8/9;
    
    }

    .film_grid_item_5{
        grid-column: 3/4; 
        grid-row: 10/11;
    
    }


    .music_grid{
        display: grid; 
        grid-template-columns: auto auto auto auto auto; 
        grid-template-rows: repeat(12); 
        padding-left: 150px;
    

        
    }


    .title_music{
        position: relative;
        left:300px;
        font-size: 30px;
 
     }
 

    .music_grid_image{
        width: 50%;
        height: 50%;
        object-fit: cover;
        
    }

    .music_grid_item_1{
        grid-column: 4/5; 
        grid-row: 2/3; 
    }
    
    .music_grid_item_2 {
        grid-column: 4/5; 
        grid-row: 4/5; 
    }
    
    .music_grid_item_3{
        grid-column: 4/5; 
        grid-row: 6/7;
    
    }

    .music_grid_item_4{
        grid-column: 4/5; 
        grid-row: 8/9;
    
    }


    .music_grid_item_5{
        grid-column: 4/5; 
        grid-row: 10/11;
    
    }


    

    
.row_gallery{
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0px 10px;
    margin-left: 300px;
    
  
  }

  .about_title h1{
        display: block;
        position: relative;
        left: 45px; 
        background-color: #000000;
        padding-left: 25%; 
      }
    
    


 }
    


.about_content{
    display: block;
     background-color:#000000; 
     position: relative;
     width: 80%;
     text-align: center;
     padding-left: 10%; 
     padding-bottom: 200px;
 
 
}



  }

  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
    }
  
    .skip a{
      -webkit-transition: none;
      transition: none;
    }
  }